<h1>New Supplier</h1>

<%= link_to 'Back', suppliers_path %>

<%= form_with scope: :supplier, url: suppliers_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
