<h1>New Product</h1>

<%= link_to 'Back', products_path %>

<%= form_with scope: :product, url: products_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :count %><br>
    <%= form.text_field :count %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :supplier %><br>
    <%= form.collection_select :supplier_id, @suppliers, :id, :name, include_blank: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
